body {
    background-image: linear-gradient(45deg, #dcdde1, #487eb0);
    font-family: 'Nunito', sans-serif;
    background-repeat: no-repeat;
    margin-bottom: 100%;
    height:max-content;
}

li {
    display:block;
}


.logo, .slogant {
    position: relative;
    color: #ecf0f1;
    left: 10px;
}



/* Flexbox */
    .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    text-align: center;
    }
    
    .div1 { 
        grid-area: 1 / 1 / 2 / 2; 
        background-color:#192a56;
        border-radius: 10px;
    }
    .div2 { grid-area: 1 / 2 / 2 / 3;
        background-color:#192a56;
        border-radius: 10px; 
    }
    .div3 { grid-area: 2 / 1 / 3 / 2;
        background-color:#192a56;
        border-radius: 10px; 
    }
    .div4 { grid-area: 2 / 2 / 3 / 3;
        background-color:#192a56;
        border-radius: 10px; 
    }
h3, h4, h6 {
        color: white;
    }

h6 {
    margin-bottom: 0;
}
/* Flexbox */
/* Pied de page */
footer {  
    margin-bottom: 2px;
    background-image: linear-gradient(#273c75, #192a56);
    position: fixed;
    bottom: 0;
    padding: 4px;
    margin-right: 2px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
  }
}
/* Pied de page */