
/* Menu de la page */


        /*OK Item GPS Conseil */
        .navbar-menu .title {
            color: white;
        }

        /*OK Fond menu */
        .navbar-menu {
            background-color: rgba(43, 42, 42, 0.8);
            position: fixed;
            z-index: 999;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
        /*OK Fond survole */
        .navbar-menu .navbar-start .navbar-item:hover {
            background-color: rgb(0, 0, 0, 0);
        }
        .navbar-menu .navbar-end .navbar-item:hover {
            background-color: rgb(0, 0, 0, 0);
        }

        /*OK Changement couleur écriture */
        .navbar-menu .navbar-item:hover {
            color: #4a69bd;
        }
        /*OK Couleur écriture */
        .navbar-menu .navbar-item {
            color: white;

        }

        /*OK
        .navbar-menu .navbar-start .navbar-item {
            padding-left: 15px;
            margin-left: 10px;
            border-left: 0px;
        }


        
/* Menu de la page */

/*OK Image de fond */
        .image {
            margin-top: -35px;
            padding-top: -10px;
        }
/* Image de fond */


/* Pied de la page */

        
        .footer .content .subtitle {
            color: white;
            /*font-family: 'Baloo 2', cursive;*/
        }    
        .footer {
            background-color: black;
        }
        .footer .content .subtitle a {
            color: white;
        }
        .footer .content .subtitle a:hover {
            color: #2980b9;
        }

/* Pied de la page */
