body {
    font-family: 'Nunito', sans-serif;
}

header {
    position: relative;
    width: 100%;
    height: 100%;
}

.logo {
    text-align: right;
padding-right: 2%;
}
.slogant {
    text-align: right;
padding-right: 2%;
}


/* background */
.container {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
}

/* background */

/* Flexbox */

  .flex-container {
    position: absolute;
    display: grid;
    justify-content: center;  
    /* flex-flow: wrap; */  
    flex-wrap: wrap;
    background-color: none;
    width: 100%;
    height: 100%;
    padding: 15px;
    gap: 5px;
    flex-direction: column;

  }

  .flex-container > div{
    background: #a29bfe;
    border: 3px solid #000000;
    border-radius: 5px;
    padding: 8px;
    text-align: center;   
  }

  .flex-container > div a{
    color:#2c3e50; 
    text-decoration : none;
}


  .item1 { 
    /* flex:0 1 auto; */
    order:0;
    flex-shrink:1;
    align-self:auto;
  }
			


h3, h4, h6 {
        color: white;
    }

h6 {
    margin-bottom: 0;
}
/* Flexbox */
/* Pied de page */
footer {  
    background-image: linear-gradient(#273c75, #192a56);
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
  }

/* Pied de page */